<f:be.container addCssFile="{f:uri.resource(path:'CSS/backend.css')}">
    <div class="typo3-fullDoc">
        <div id="typo3-docheader">
            <div class="typo3-docheader-functions">
                <div class="left">
                    <f:be.buttons.csh />
                </div>

                <div class="right">
                </div>
            </div>

            <div class="typo3-docheader-buttons" style="box-sizing: content-box">
                <div class="left">
                    <f:link.action action="newNews" title="{f:translate(key:'LLL:EXT:news/Resources/Private/Language/locallang_be.xlf:module.createNewNewsRecord')}">
                        <f:image src="{f:uri.resource(path:'Icons/news_domain_model_news_add.png')}" />
                    </f:link.action>
                    <n:be.security.ifAccessToTableIsAllowed table="sys_category">
                        <f:link.action action="newCategory" title="{f:translate(key:'LLL:EXT:news/Resources/Private/Language/locallang_be.xlf:module.createNewCategory')}">
                            <f:image src="{f:uri.resource(path:'Icons/news_domain_model_category_add.png')}" />
                        </f:link.action>
                    </n:be.security.ifAccessToTableIsAllowed>
                    <n:be.security.ifAccessToTableIsAllowed table="tx_news_domain_model_tag">
                        <f:link.action action="newTag" title="{f:translate(key:'LLL:EXT:news/Resources/Private/Language/locallang_be.xlf:module.createNewTag')}">
                            <f:image src="{f:uri.resource(path:'Icons/news_domain_model_tag_add.png')}" />
                        </f:link.action>
                    </n:be.security.ifAccessToTableIsAllowed>
                </div>
                <div class="right">
                    <f:be.buttons.shortcut />

                </div>
            </div>
        </div>
        <div id="typo3-docbody" style="{background_style}">
            <div id="typo3-inner-docbody" style="padding-top: 0; padding-right: 15px; padding-left: 15px;">
                <f:flashMessages renderMode="div" />
                <div class="box box_white">
                    <f:render section="content" />
                </div>
            </div>
        </div>
    </div>
</f:be.container>