<f:be.container includeCssFiles="{0: '{f:uri.resource(path:\'CSS/backend.css\')}'}">
    <div class="typo3-fullDoc">
        <div id="typo3-docheader">
            <div class="typo3-docheader-functions">
                <div class="left">
                    <f:be.buttons.csh />
                </div>

                <div class="right">
                </div>
            </div>

            <div class="typo3-docheader-buttons" style="box-sizing: content-box">
                <div class="left">
                </div>
                <div class="right">
                    <f:be.buttons.shortcut />

                </div>
            </div>
        </div>
	<div id="typo3-docbody" style="background-color: {background_color}; background-image: url('{f:uri.resource(path:'{background_image}')}');">
            <div id="typo3-inner-docbody" style="padding-top: 0; padding-right: 15px; padding-left: 15px;">
                <f:flashMessages renderMode="div" />
                <div class="box box_white">

                    <f:if condition="{error}">
                        <f:then>
                            <h1>Error</h1>
                            <p>
                                <f:translate key="error.server.{errorID}" arguments="{errorArguments}" htmlEscape="false">{error} ({errorID})</f:translate>
                            </p>
                        </f:then>
                        <f:else>
                            <f:render section="content" />
                        </f:else>
                    </f:if>
                </div>
            </div>
        </div>
    </div>
</f:be.container>
