{namespace community=ScoutNet\ShScoutnetCommunity\ViewHelpers}
<f:layout name="Backend/Default" />

<f:section name="content">
<h1 style="margin-left: -10px"><f:translate key="event.new.headline">Calendar: Events</f:translate></h1>
<h2><f:translate key="event.new.subheadline">Datensatz erstellen</f:translate></h2>

<f:form action="create" name="event" object="{event}" >
	<f:form.hidden property="structure" />

	<f:render partial="Administration/EditForm" arguments="{generatedCategories: '{generatedCategories}', allSectionCategories:'{allSectionCategories}', forcedCategories: '{forcedCategories}', event: '{event}', verband: '{verband}'}" />

<br>


	<f:form.submit value="{f:translate(key:'event.buttons.create')}" class="btn btn-default" />
	<f:link.action action="list" arguments="{structure: event.structure}" class="btn btn-link"><f:translate key="event.buttons.cancel">event.buttons.cancel</f:translate></f:link.action>
</f:form>

</f:section>
