
/* Mittlere Spalte */
#typo3-inner-docbody
{
	margin: 0;
	padding: 0 10px;
	border: 2px solid #D3D3D3;
	background: #fff url(../../img/bg_h1.png) repeat-x top;
	zoom: 1; 
	overflow:hidden;
}

#typo3-inner-docbody-content { 
	padding: 0;
	margin: 0 1em 0 1em;
}

#corner{
	border:0; 
	position:absolute; 
	top:-2px; 
	right:-3px;
}

