
body{
	background: #fff url(background.png) repeat-x top;
}

h1 {
	background: inherit;
	color: #0E4DAD;
	font-size: 1em;
	font-weight: bold;
	margin: 0.4em 0px 1.5em;
	padding: 0px;
	text-align:left;
}

h1, h2, h3, h4 {
	display: block;
	font-family: 'Lucida Grande', Verdana, Arial, sans-serif;
}

#typo3-docbody-content
{
	padding: 2em 1em 0 0;
	margin-left:10px;
}
/* Mittlere Spalte */
#typo3-inner-docbody
{
	padding: 10px 10px 0 10px;
	border: 2px solid #D3D3D3;
	background: #fff url(bg_h1.png) repeat-x top;
	position:relative;
}

#typo3-inner-docbody-content { 
	padding: 0;
	margin: 0 1em 0 1em;
}

#corner{
	border:0; 
	position:absolute; 
	top:-2px; 
	right:-3px;
}

