
body{
	background: #fff url(background.png) repeat-x top;
	font-size: 13px;
}

h1, h2, h3, h4 {
	display: block;
	font-family: 'Lucida Grande', Verdana, Arial, sans-serif;
}

h1 {
	background: inherit;
	color: #0E4DAD;
	font-size: 1em;
	font-weight: bold;
	margin: 0.4em 0px 1.5em;
	padding: 0px;
	text-align:left;
}
h2 {
	background-color: #0E4DAD;
	color: white;
	font-size: 1.1em;
	font-weight: bold;
	margin: 0.2em 0px 0.5em;
	padding: 0.2em;
}

th {
	font-weight: bold;
}
td, th {
	display: table-cell;
	vertical-align: inherit;
	text-align:left;
}

p {
	line-height: 1.5em;
	margin: 0px 0px 1em;
}

#termin-liste{
	width:100%
}

#termin-liste-leftcol{
	width:25%;
}

#typo3-docbody-content
{
	padding: 2em 1em 1em 0;
	margin-left:10px;
}
/* Mittlere Spalte */
#typo3-inner-docbody
{
	padding: 0 !important;
	border: 2px solid #D3D3D3;
	background: #fff url(bg_h1.png) repeat-x top;
	position:relative;
}

#typo3-inner-docbody-content { 
	padding: 0;
	margin: 0 1em 0 1em;
}

#corner{
	border:0; 
	position:absolute; 
	top:-2px; 
	right:-3px;
}

