{namespace snk=ScoutNet\ShScoutnetKalender\ViewHelpers}
<f:layout name="Default" />


<f:section name="main">
    <f:if condition="{error}">
        <f:then><f:format.raw><f:translate key="snkDown">ScoutNet server Down: </f:translate> ({error})</f:format.raw></f:then>
        <f:else>
            <div id="snk-{structures.0.uid}" class="snk">
                <div class="snk-body">

                    <f:if condition="{optionalStructures -> f:count()} > 0">
                        <div id="snk-stammesAuswahl">
                            <f:translate key="stammesAuswahl" /><br>
                            <f:form action="list" method="post">
                                <f:for each="{optionalStructures}" as="optionalStructure">
                                    <f:form.checkbox onclick="form.submit();" checked="{optionalStructure.selected}" name="addids[]" value="{optionalStructure.structure.uid}" id="add_id_{optionalStructure.structure.uid}" title="{optionalStructure.structure.ident}" /><label for="add_id_{optionalStructure.structure.uid}">&nbsp;{optionalStructure.structure.ident}</label>
                                </f:for>
                            </f:form><br>
                        </div>
                    </f:if>


                    <div class="snk-termine">
                        <table>
                            <tr class="snk-headings-row">
                                <f:if condition="{structures -> f:count()} > 1">
                                    <th class="snk-eintrag-ebene-ueberschrift"><f:translate key="ebene" /></th>
                                </f:if>
                                <th class="snk-eintrag-datum-ueberschrift"><f:translate key="date" /></th>
                                <th class="snk-eintrag-zeit-ueberschrift"><f:translate key="time" /></th>
                                <th class="snk-eintrag-titel-ueberschrift"><f:translate key="title" /></th>
                                <th class="snk-eintrag-stufen-ueberschrift"><f:translate key="section" /></th>
                                <th class="snk-eintrag-kategorien-ueberschrift"><f:translate key="categorie" /></th>
                            </tr>

                            <f:if condition="{events}"><f:then>
                                <f:groupedFor each="{events}" as="events_per_year" groupBy="startYear" groupKey="year">
                                    <f:groupedFor each="{events_per_year}" as="events_per_month" groupBy="startMonth" groupKey="month">
                                    <tr class="snk-monat-row">
                                        <th colspan="6" class="snk-monat-heading"><f:format.date date="01.{month}.{year}" format="%B '%y" /></th>
                                    </tr>
                                <f:for each="{events_per_month}" as="event" iteration="iterator">
                                    <f:render partial="Calendar/Event" arguments="{event:event, structures: structures, eventId: eventId, iterator: iterator}" />
                                </f:for>
                                </f:groupedFor>
                                </f:groupedFor>

                            </f:then><f:else></f:else></f:if>
                        </table>
                    </div>
                </div>
                <div class="snk-footer">
                    <div class="snk-hinzufuegen">
                        <a href="https://www.scoutnet.de/community/kalender/termine-bearbeiten/structure/{structures.0.uid}/new" target="_blank"><f:translate key="addEvent" /></a>
                    </div>
                    <div class="snk-powered-by">
                        <f:translate key="poweredBy" />&nbsp;<span><f:link.external uri="www.scoutnet.de/kalender/" defaultScheme="https" target="_blank">ScoutNet.DE</f:link.external></span>
                    </div>
                </div>
            </div>

        </f:else>
    </f:if>
</f:section>

