.snk-termine table{
	width:100%;
}

tr.snk-headings-row th{
	color: black;
	background-color: transparent;
	line-height: 120%;
	padding: 5px;
	text-align:left;
}
.snk-termine th{
	color: #f7961e;
	background-color: black;
	line-height: 90%;
	padding: 5px;
}
.snk-termine td{
	padding: 3px;
}
.snk-powered-by {
	width: 50%;
	font-size: small;
	font-weight: bold;
	text-align: right;
	float: left;
}
.snk-hinzufuegen{
	width: 49%;
	float: left;
	font-weight: bold;
	font-size: small;
}
.snk-termin-infos dl{
	border: 1px solid black;
	border-top:0;
	border-right:0;
	margin: 0 0 5px 10px;
	padding: 10px 20px 20px 20px;
}

.snk-termin-infos dt{
	font-weight: bold;
}

.snk-termin-infos dd {
	margin-left: 10px;
}

.snk-termin-row-even {
	background: rgba(0, 0, 0, 0.1);
}

.snk-termin-row-odd {
}

.snk-termin-infos{
	display:none;
}

.snk-footer {
	margin-bottom: 20px;
}

.snk-termine {
	width: auto;
	margin-right: 5px;
}